@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');
:root {
    --primary-color-1: hsl(158, 36%, 37%);
    --primary-color-2: hsl(30, 38%, 92%);
    --neutral-color-1: hsl(212, 21%, 14%);
    --neutral-color-2: hsl(228, 12%, 48%) ;
    --neutral-color-3: hsl(0, 0%, 100%);

    --main-font-size: 14px;

    --font-family-1: 'Montserrat';
    --font-family-2: 'Fraunces';

    --hover-button-color: #1a4031;
}

* {
    margin: 0;
    padding: 0;
    /* border: 1px dotted red; */
}

body {
    background-color:  var(--primary-color-2);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
    font-family: var(--font-family-1);
    font-size: var(--main-font-size);
    color: var(--neutral-color-2);

    height: 100vh;
}

.main-container {
    width: 75%;

    margin: 0 auto;
    border-radius:  10px;
    display: flex;
    flex-direction: column;
    background-color:  var(--neutral-color-3);
}

.sub-main-container {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap: 15px;
}
.image-container {
    flex-grow: 1;
}
.img-perfume {
    width: 100%;
    height: 190px;
    background-image: url("../images/image-product-mobile.jpg");
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.img-cart {
    width: 13px;
    height: 13px;
}

.price-container {
    display: flex;
    gap: 20px;
    align-items: center;
}

.now-price {
    color: var(--primary-color-1);
    font-family: var(--font-family-2);
    font-size: 1.7rem;
}

.old-price {
    font-size: .7rem;
    text-decoration: line-through;
}

.heading-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.product-category {
    font-size: 10px;
    font-weight: 400;
    letter-spacing: .2rem;
}

.product-name {
    color: var(--neutral-color-1);
    font-family: var(--font-family-2);
    font-size: 26px;
}

.description-container {
    line-height: 1.2rem;
    font-weight: 400;
    font-size: 11.5px;
}

.button-container {
    background-color:  var(--primary-color-1);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--neutral-color-3);
    padding: 13px;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
}

.button-container:hover {
    background-color: var(--hover-button-color);
}

.footer-container {
    margin-top: auto;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media (min-width: 1440) {
    
}